body {
    font-family: Arial, sans-serif;
    background-color: #000;  /* Чёрный фон */
    color: #fff;  /* Белый цвет текста */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #333;  /* Тёмный фон для контейнера */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #fff;  /* Белый цвет текста */
}

/* Стили для изображения */
.header-image {
    width: 100%;  /* Делает изображение на всю ширину */
    max-width: 800px;  /* Ограничивает максимальную ширину */
    height: auto;  /* Сохраняет пропорции изображения */
    margin-bottom: 20px;  /* Добавляет отступ снизу */
    display: block;  /* Убирает лишние отступы вокруг изображения */
    margin-left: auto;
    margin-right: auto;  /* Центрирует изображение по горизонтали */
}

ol {
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    color: #fff;  /* Белый цвет текста */
    margin: 20px 0;
}

ol li {
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #e74c3c;  /* Красная кнопка */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0392b;  /* Более тёмный красный при наведении */
}
